.d-flex.flex-column.justify-content-center.align-items-center.story
  = image_tag 'user-pp.png', class: 'story-img img-thumbnail pp-img rounded-circle border border-2 border-primary'
  %small.username.small Username is xyz
