.d-flex.flex-column.justify-content-center.align-items-center.story
  = image_tag 'user-pp.png', class: 'story-img img-thumbnail rounded-circle border border-2 border-primary'
  %small.story-text Username is xyz
