- user = story.user
.d-flex.flex-column.justify-content-center.align-items-center.story
  = link_to post_path(story), class: 'no-decor story-link' do
    = image_tag user.profile_picture, class: 'story-img img-thumbnail pp-img pp-img-3 rounded-circle border border-2 border-primary'
    %div.username.small= user.username
