= turbo_stream.replace(post_comments_id(@post), partial: 'posts/post_comments', locals: { post: @post })
= turbo_stream.replace(post_comments_modal_content_id(@post), partial: 'posts/comments_modal_content', locals: { post: @post })