= turbo_stream.replace(post_actions_id(@post), partial: 'posts/post_actions', locals: { post: @post })
- @show_modal = true # in case there is show modal shown
= turbo_stream.replace(post_actions_id(@post), partial: 'posts/post_actions', locals: { post: @post })