.row
  - if user.posts.any?
    - user.posts.each do |post|
      = render 'common/profile_post', post: post
  - else
    .d-flex.justify-content-center.align-items-center.mt-4
      .no-posts-info= t('views.posts.no_posts')