.container.p-4
	%h2 How to remove your data
	%h4 InstaClone's account
	%div If you want to delete your InstaClone's account, you can do it by following these steps:
	%ol
		%li Login to your account
		%li 
			Go to 
			%a{ href: users_danger_zone_url }= users_danger_zone_url
		%li Then click "Delete my account"
		%li Then double confirm your action


	%h4 Facebook's authentication
	%h6 * Only if you used authentication by Facebook
	%div InstaClone uses a facebook login app to authenticate our users. InstaClone saves your personal data as email and full name in our server.
	%div If you want to delete your activities for InstaClone's facebook login app, you can remove your information by following these steps:
	%ol
		%li Go to your Facebook Account's "Settings & Privacy"
		%li Click "Settings"
		%li Then click "Security and Login"
		%li Look for "Apps and Websites" and you will see all of the apps and websites you have linked with your Facebook account
		%li Search and Click "IClone" in the search bar
		%li Scroll and click "Remove"

	‍