.modal.fade.comments-modal{ id: "post#{post.id}_commentsModal", aria: { hidden: 'true', labelledby: "post#{post.id}_commentsModalLabel" }}
  .modal-dialog
    = render 'posts/comments_modal_content', post: post