.modal.fade.comments-modal{ id: post_comments_modal_id(post), aria: { hidden: 'true', labelledby: "##{post_comments_modal_label_id(post)}" }}
  .modal-dialog
    = render 'posts/comments_modal_content', post: post