.d-flex.justify-content-between.liker-cnt
  .d-flex
    = image_tag 'user-pp.png', class: 'pp-img img-thumbnail rounded-circle'
    .d-flex.flex-column.mx-3.justify-content-center
      %small.fw-bold.modal-username= liker.username
  = link_to root_path, class: 'btn btn-primary no-decor' do
    %small.fw-bold.text-white= t('follow')
