.d-flex.liker-cnt{ id: liker_id(liker), class: ('justify-content-between' unless current_user == liker) }
  .d-flex
    = link_to liker, class: 'no-decor', target: '_top' do
      = render 'common/lazy_img', img: liker.profile_picture, class: 'pp-img pp-img-1 img-thumbnail rounded-circle'
    .d-flex.flex-column.mx-3.justify-content-center
      %small.fw-bold.username.big= link_to liker.username, liker, class: 'no-decor', target: '_top'
  .d-flex
    = render 'common/follow_state', user: liker, content_id: liker_id(liker), as_text: true
