#showPostModal.modal.fade.modal-xl{ aria: { hidden: 'true' } }
  .modal-dialog
    .modal-content
      .modal-header
        %button.btn-close{ type: :button, aria: { label: 'Close' }, data: { bs_dismiss: 'modal' } }
      #showPostModalBody.modal-body.d-flex.justify-content-center
