html {
  height: 100vh;
}

body {
  background-color: #fafafa;
  height: 100%;
}

.navbar {
  border-color: #afafaf;
  #logo-img {
    width: 10rem;
  }
}

.no-decor {
  text-decoration: none;
}


#flash_message {
  position: absolute;
  width: 100%;
  top: 0;
  z-index: 9999;
}