html {
  height: 100vh;
}

body {
  background-color: var(--body-background-color);
  height: 100%;
}

.navbar {
  #logo-img {
    width: 10rem;
  }
}

.no-decor {
  text-decoration: none;
  color: black;
}

#flash_message {
  position: absolute;
  width: 100%;
  top: 0;
  z-index: 9999;
  .flash {
    cursor: pointer;
  }
}

.button-no-default {
  background: none; 
  border: none;
}

.username {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  &.big {
    max-width: 10rem;
  }
  &.medium {
    max-width: 5rem;
  }
  &.small {
    max-width: 3.5rem;
  }
}

.pp-img {
  min-width: 32px;
  min-height: 32px;
}



.pp-img-1 {
  width: 42px;
  height: 42px;
}
.pp-img-2 {
  width: 48px;
  height: 48px;
}
.pp-img-3 {
  width: 115px;
  height: 115px;
}


//// clear 'X' from search inputs
// clears the ‘X’ from Internet Explorer
input[type=search]::-ms-clear { display: none; width : 0; height: 0; }
input[type=search]::-ms-reveal { display: none; width : 0; height: 0; }
// clears the ‘X’ from Chrome
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration { display: none; }