html {
  height: 100vh;
}

body {
  background-color: #fafafa;
  height: 100%;
}

.navbar {
  border-color: #afafaf;
  #logo-img {
    width: 10rem;
  }
}

.no-decor {
  text-decoration: none;
  color: black;
}

#flash_message {
  position: absolute;
  width: 100%;
  top: 0;
  z-index: 9999;
  .flash {
    cursor: pointer;
  }
}

.button-no-default {
  background: none; 
  border: none;
}

.username {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  &.big {
    max-width: 10rem;
  }
  &.small {
    max-width: 3.5rem;
  }
}

.pp-img, #user-navbar .img-thumbnail {
  min-width: 32px;
  min-height: 32px;
}