#user-navbar {
  .search-input {
    background: var(--input-background-color);
  }
  #search_query {
    background: var(--input-background-color);
  }

  #search-results-cnt {
    width: 25rem;
  }
}