.post-card {
  width: 25rem;

  .pp-img {
    width: 10%;
  }
  
  .post-more {
    vertical-align: sub;
    line-height: 0.2em;
    border-color: transparent !important;
  }

  .carousel {
    .carousel-item {
      height: 25rem;
      
      .post-image {
        max-height: 100%; 
        object-fit: cover;
      }
    }
    .carousel-indicators {
      position: static;
    }
  }

  .card-footer {
    .comment-input {
      border:none;
    }
  }

  .post-actions {
    .like-btn {
      border: none; 
      background: none;
    }
  }
  .liker-cnt {
    .pp-img {
      width: 2.5rem;
    }
  }
  .modal-comment-cnt {
    .pp-img {
      width: 2.5rem; 
      max-height: 2.5rem;
    }
  }
  .modal-username {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 10rem;
  }
  .comment-input {
    min-height: 4rem;
    max-height: 15rem;
  }
}
