.profile-header-cnt {
  min-height: 20rem;
}

.profile-posts-cnt {
  .no-posts-info {
    font-size: 2rem;
    font-weight: 100;
  }
}

.profile-post {
  height: 20rem;
  position: relative;
  .multiple-images {
    position: absolute;
    top: 15%;
    right: 7%;
    transform: translate(-50%, -50%);
    text-shadow: 1px 1px 10px #000000a6;
  }
  .profile-post-info {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    visibility: hidden;
    text-shadow: 1px 1px 10px #000000a6;
  }
  &:hover {
    opacity: 50%;
    .profile-post-info {
      visibility: visible;
    }
  }
}