- suggestions = current_user.suggestions(User::SUGGESTIONS_COUNT)
.container.w-50.p-5
  - if suggestions.any?
    = render 'suggestions/suggestions', suggestions: suggestions
  - else
    .text-center.w-100.fs-4.no-suggestions-info= t('views.suggestions.no_suggestions')