- klass = local_assigns[:class] || ''
- if img.is_a? String
  = image_tag img, class: klass
- else
  = turbo_frame_tag image_id(img.id), src: image_path(id: img.id, url: url_for(img), klass: klass), loading: :lazy do
    .fa.fa-spinner.fa-spin
