= button_to user_facebook_omniauth_authorize_path, class: 'd-block mt-4 text-decoration-none fw-bold bg-primary text-white rounded w-75 align-self-center p-1 align-center', data: { turbo: false } do
  = image_tag('facebook.png', class:  'facebook')
  = t('views.devise.login_w_fb')