.dropstart.follows-dropdown
  %i.fa-regular.fa-heart.fa-xl{ type: :button, aria_expanded: 'false', data: { bs_toggle: 'dropdown', bs_auto_close: 'outside' } }
  %ul.dropdown-menu.p-3#follows-cnt
    = render 'layouts/navbar/follows_cnt_content'
    